nav.navbar { margin-bottom:0; }
  nav.navbar .navbar-brand { margin-left:15px !important; }
  nav.navbar .navbar-right a.btn { margin:5px 15px; }

.wrap { position:relative; overflow:hidden; width:100%; height: 600px; }
  .wrap img.hero { position: relative; z-index: 0; margin: -40px 0; max-width: 100%; }

