<div class="container clearfix">
  <div class="row header">
    <h1>
      Dashboard
      <a href="new" class="btn btn-success btn-lg pull-right">New Lecture</a>
    </h1>
  </div>
  <div class="row lecture clearfix">
    <h3>Physics 101</h3>
    <div class="sub">
      <i class="fa fa-users"></i> 4 collaborators <i class="fa fa-clock-o"></i> last updated today
    </div>
    <a href="view" class="arrow">
      <i class="fa fa-arrow-circle-o-right"></i>
    </a>
  </div>
  <div class="row lecture clearfix">
    <h3>Physics 101</h3>
    <div class="sub">
      4 collaborators last updated today
    </div>
    <a href="view" class="arrow">
      <i class="fa fa-arrow-circle-o-right"></i>
    </a>
  </div>
  <div class="row lecture clearfix">
    <h3>Physics 101</h3>
    <div class="sub">
      4 collaborators last updated today
    </div>
    <a href="view" class="arrow">
      <i class="fa fa-arrow-circle-o-right"></i>
    </a>
  </div>
</div>
