<div class="row top clearfix">
  <div class="col-lg-12 hero">
    <div class="wrap view">
      <img class="hero" src="img/hero-2.jpg" du-parallax y="background" alt="" />
      <h1>Physics 101</h1>
      <h2><i class="fa fa-users"></i> 2 collaborators</h2>
   </div>
  </div>
</div>
<div class="container">
  <div class="row text clearfix">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="node">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a condimentum ante. Aenean dictum sodales felis sed iaculis. In nec vestibulum lorem. Pellentesque at iaculis erat. Donec in auctor justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse ut tempus arcu. Donec vel vulputate lorem. Nulla in mi in neque vulputate ullamcorper.
      </div>
      <div class="node">
        In adipiscing nibh neque, scelerisque mollis justo convallis id. Integer cursus, sem vestibulum sagittis elementum, lacus nunc dapibus tellus, vitae varius magna augue at urna. Maecenas interdum mollis orci, a venenatis ante fermentum non. Vivamus ullamcorper vulputate sapien. Maecenas non cursus nisl. Sed dolor nibh, blandit nec nisl sit amet, commodo pharetra ipsum. Pellentesque volutpat augue at metus gravida, a fringilla velit lobortis. Vivamus ullamcorper velit id dolor pellentesque vehicula. Praesent tristique tortor ac euismod consequat. Curabitur sagittis, turpis et scelerisque fermentum, dolor ligula dictum leo, eu consequat urna eros in sem. Nunc faucibus sem orci, eget consequat neque tincidunt sit amet. Maecenas molestie egestas nunc, eu lobortis est volutpat ut. Ut faucibus viverra ante, eget tincidunt ligula tincidunt nec. Etiam diam diam, dapibus et mi id, vulputate sagittis dui. Sed quis velit id libero imperdiet gravida et a mi.
      </div>
      <div class="node">
        Suspendisse potenti. Aliquam ac ultrices massa. Ut ultrices lobortis nulla, ut laoreet dui molestie ut. Morbi vulputate dolor vitae egestas pretium. Etiam et consectetur nulla, ut sodales sapien. Phasellus ullamcorper arcu ut tempor cursus. Aenean ut enim nibh. Phasellus adipiscing vel nibh eget dapibus. Ut vel fringilla magna, sagittis commodo nunc. Sed adipiscing nunc eget eros tempus, ut tincidunt libero sollicitudin. Phasellus justo magna, aliquet non est tristique, placerat lacinia nulla. Maecenas pretium dignissim vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </div>
    </div>
  </div>
</div>
